<form id="add-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="" style="position: relative;top:-15px;">
        <div class="col-sm-12">
            <button id="sign-upload" class="btn btn-primary plupload" data-after-upload="changetable" data-url="{:url('/admin/w/sign/upload')}"><i class="fa fa-upload"></i> 选择文件</button>
        </div>

        <div class="col-sm-12" style="text-align: center;line-height: 24px;"><h4>上班记录</h4></div>

        <div id="sign-div" style="margin: 30px 20px 30px 20px ;">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th style="width: 100px">姓名</th>
                    <th>员工编号</th>
                    <th>上班日期</th>
                    <th>上班时间</th>
                    <th>下班时间</th>
                    <th>状态</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

    <div class="form-group hidden layer-footer">
        <div class="col-xs-2"></div>
        <div class="col-xs-12 col-sm-8">
            <!--<button type="submit" class="btn btn-success btn-embossed disabled">{:__('Close')}</button>-->
            <button type="reset" class="btn btn-primary btn-embossed btn-close" onclick="Layer.closeAll();">{:__('Close')}</button>
        </div>
    </div>

</form>