<form id="add-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">上传门禁记录</label>
        <div class="col-xs-12 col-sm-8">
            <button id="sign-upload" class="btn btn-primary plupload" data-after-upload="changetable" data-url="{:url('/admin/w/sign/upload')}"><i class="fa fa-upload"></i> 选择文件</button>
        </div>

        <div id="sign-div" style="margin: 30px 20px 30px 20px ;">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th style="width: 100px">姓名</th>
                    <th>员工编号</th>
                    <th>上班日期</th>
                    <th>上班时间</th>
                    <th>下班时间</th>
                    <th>状态</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

    </div>

    <div class="form-group hidden layer-footer">
        <div class="col-xs-2"></div>
        <div class="col-xs-12 col-sm-8">
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
