<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label for="c-register_date" class="control-label col-xs-12 col-sm-2">{:__('Register_date')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-register_date" data-rule="required" class="form-control" name="row[register_date]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="c-email" class="control-label col-xs-12 col-sm-2">{:__('Email')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-email" data-rule="required" class="form-control" name="row[email]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="c-tel" class="control-label col-xs-12 col-sm-2">{:__('Tel')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-tel" data-rule="required" class="form-control" name="row[tel]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="c-product" class="control-label col-xs-12 col-sm-2">{:__('Product')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-product" data-rule="required" class="form-control" name="row[product]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="c-asin" class="control-label col-xs-12 col-sm-2">{:__('Asin')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-asin" data-rule="required" class="form-control" name="row[asin]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="c-order_date" class="control-label col-xs-12 col-sm-2">{:__('Order_date')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-order_date" data-rule="required" class="form-control" name="row[order_date]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="c-Warranty" class="control-label col-xs-12 col-sm-2">{:__('Warranty')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-Warranty" data-rule="required" class="form-control" name="row[Warranty]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="c-remark1" class="control-label col-xs-12 col-sm-2">{:__('Remark1')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-remark1" data-rule="required" class="form-control" name="row[remark1]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="c-remark2" class="control-label col-xs-12 col-sm-2">{:__('Remark2')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-remark2" data-rule="required" class="form-control" name="row[remark2]" type="text" value="">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
